html{
    background-color: black;
}
p, h1, h2, h3{
    color:white;
}
p, h1, h3{
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.fontBold{
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.fontBlack{
    font-family: "proxima-nova", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.background-image{
    background-image: url('../../public/img/background.png');
    background-repeat: repeat-y;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.progress-bar{
    transform-origin: 0%;
    height: 50px;
    background: #707070;
}
.bg {
  stroke: #707070;
  opacity: 0.3;
  height: 20px;
}
#progress .indicator {
  stroke: #B9AF90;
}
line{
    stroke-linecap: round;
    stroke-linejoin: round;
}
.container {
  width: 600px;
  height: 600px;
  z-index: 0;
  position: fixed;
  right:100px;
  bottom: 50px;
  
}

canvas {
  cursor: pointer;
}

[data-is-fullscreen="true"] .container {
  position: fixed;
  top: 0;
  left: 350px;
  right: 0;
  bottom: 0;
  width: 75%;
  height: 100%;
}

.cloudy_background{
    background-image: url('../../public/img/cloudy_background.png');
    background-size: contain;
    
}

.fade-out {
  animation-name: fadeout;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  animation-delay: 3500ms;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#test{
  padding-top: 140px;
}
